<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script> 

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        time_zone_offset = new Date().getTimezoneOffset() / 60;
        prev = document.referrer;
        id = localStorage.getItem("userid")
        if (id === null) {
            id = Date.now().toString(36) + Math.random().toString(36).substring(2);
            localStorage.setItem("userid", id);
        }
        host_url = document.location.href

        path = "https://pixel-v0.wl.r.appspot.com/pixel.gif?id=" + id + "&prev=" + prev + "&tz=" + time_zone_offset + "&host_url=" + host_url;
        document.body.innerHTML += "<img src=" + path + ">";
    });
</script>


{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Publications"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
